body {
  margin: 0;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: 50px 200px;
  grid-template-areas: "header header header header header header" "aside aside main main main main";
}

.grid-element {
  padding: 5px;

  font-size: 14px;
  color: #fff;
}

.bg-gray {
  background: #717790;
}

.bg-red {
  background: #ff3c41;
}

.bg-blue {
  background: #0ebeff;
}

.grid-header {
  grid-area: header;
}

.grid-aside {
  grid-area: aside;
}

.grid-main {
  grid-area: main;
}
