.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.p-20 {
  padding: 20px;
}

.col-3 {
  grid-column: span 3;
}

.col-9 {
  grid-column: span 9;
}

.text-white {
  color: white;
}

.bg-blue {
  background: blue;
}

.bg-gray {
  background: gray;
}
